* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3c3c;
    padding: 1rem;   
}

header h2 {
    color: #fff;
}

.fa-bars {
    color: #fff;
}

#inicio {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;

    background-color: #1c1a19;
    background-image: url(img/illustration-header-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.contenidoHome {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

h1 {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: 0.37px;
    color: #ff6b00;
}

.subtituloHome {
    font-family: 'Roboto', Arial;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff5e1;
}

.descripcionHome {
    font-family: 'Poppins', Arial;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
}

.redesSociales {
    display: flex;
    gap: 1rem;
}

.fa-brands {
    color: #fff;
    padding: 4% 0;
    font-size: 1.4rem;
}

#proyectos {
    height: 100vh;
    width: 100vw;
}

#contactame {
    height: 100vh;
    width: 100vw;
    
}

/* Seccion Acerca de Mi  */

#acercaDeMi {
    min-height: 100vh;
    width: 100vw;
    background-color: #1c1a19;
}

.top h2 {
    font-family: 'Crete Round', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
}

.top p {
    font-family: 'Inter', Arial;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #f4f5f7;
}

